.swiper-container {
  margin-top: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 40px 0;
}

.swiper-slide {
  border-radius: 16px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.swiper-slide .card {
  height: 350px !important;
  border: none;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 16px;
}

/* bottom title */
.swiper-slide .outer-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 15px;
  font-size: 17px;
  font-weight: 600;
}

.swiper-slide:hover .outer-title {
  color: rgba(52, 52, 247, 0.856);
}

.swiper-slide .card-body {
  padding: 22px;
  width: 100%;
  height: 100%;
  bottom: -100%;
  right: 0;
  left: 0;
  position: absolute;
  background: #929292ab;
  color: #fff;
  transition: 0.5s ease;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* inner card title*/
.swiper-slide .card .card-title {
  text-transform: capitalize;
  font-size: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-slide .card-text {
  line-height: 20px;
  margin: 20px 0;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

.genre {
  margin-top: 10px;
  position: absolute;
  bottom: 14px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.genre span {
  margin: 3px;
  background: rgb(247, 185, 15);
  border-radius: 10px;
  font-size: 11px;
  /* text-shadow: 0 1px 0 black; */
  padding: 7px;
  white-space: nowrap; /* Prevent genres from wrapping to the next line */
  font-weight: 700;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 16px;
}

/* PC/laptop screens */
@media screen and (min-width: 1280px) {
  .swiper-slide:hover {
    cursor: pointer;
  }

  .swiper-slide .card:hover .card-body {
    bottom: 0;
  }
}

/* mobile device */
@media screen and (max-width: 478px) {
  .swiper-slide {
    width: auto;
  }

  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }

  .swiper-slide .card-body {
    padding: 15px;
  }

  .swiper-slide .card .card-title {
    font-size: 18px;
  }
}
