/* importing font */
@font-face {
  font-family: "permanentMarker";
  src: url(../../assets/fonts/PermanentMarker-Regular.ttf);
}

.navbar .navbar-brand {
  font-family: "permanentMarker";
  font-size: 30px;
}
